<%- partial('_partial/head') %>
  <% if (is_home()) { %>
    <% if (date(new Date(), 'HH')<18 && date(new Date(), 'HH')>6?false:true) { %>
    <body class="home-body dark">
    <% } else { %>
    <body class="home-body default" style="background-color:#eef0f4;">
    <% } %>
  <% } else {%>
    <% if (date(new Date(), 'HH')<18 && date(new Date(), 'HH')>6?false:true) { %>
      <body class="dark">
    <% } else { %>
      <body class="default" style="background-color:#eef0f4;">
    <% } %>
  <% } %>
      <div id="container" class="container">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after-footer') %>
    </div>
  </body>
</html>
